

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

.container .column {
	border-right: 2px solid rgba(0,0,0,.5);
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 25%;
	z-index: 1;
}

.container .column:last-child {
	border-right: none;
}

.container .column .content {
	height: 100%;
	position: relative;
}

.container .column .content h1 {
	background: rgba(0,0,0,.1);
	border-top: 2px solid rgba(0,0,0,.5);
	border-bottom: 2px solid rgba(0,0,0,.5);
	color: rgba(255,255,255,.2);
	font-size: 15em;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
	width: 100%;
}

.container .column .content .box {
	background: rgba(255,255,255,1);
	box-sizing: border-box;
	opacity: 0;
	padding: 40px;
	position: absolute;
	text-align: center;
	transition: 0.5s;
	transform: translateY(100%);
	top: 50%;
}

.container .column.active .content .box {
	opacity: 1;
	transform: translateY(-50%);
}

.container .column .content .box h2 {
	color: #262626;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.container .column .content .box p {
	color: #262626;
	font-size: 13px;
}

.container .column .bg {
	height: 100%;
	left: 0;
	position: absolute;
	pointer-events: none;
	top: 0;
	width: 100%;
	z-index: -1;
}

.container .column.active .bg.bg1 {
	background: url(../image/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}

.container .column.active .bg.bg2 {
	background: url(../image/bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}

.container .column.active .bg.bg3 {
	background: url(../image/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}

.container .column.active .bg.bg4 {
	background: url(../image/bg4.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}


@media (min-width: 1000px) {
	.container .column .content .box h2 {
		color: #262626;
		font-size: 30px;
		margin: 0;
		padding: 0;
	}

	.container .column .content .box p {
		color: #262626;
		font-size: 18px;
	}
}